.goodSettings {    
    width: 27vh;
    height: 30vh;
}

.goodsSettings {
    width: 35vh;
    height: 55vh;
    border: 2px solid black;
    border-radius: 30px;
    justify-content: center;
}

.selectWidth {
    width: 70%;
}

.goodInfoSettings {
    width: 30vh;
    height: 30vh;
    border: 2px solid dark;
    border-radius: 1px;    
}

.NoDecoration {
    text-decoration: none;
}