@{
    Layout = "_SignInOutLayout";
}

<div class="container-fluid bg-light signin">
    <div class="row">

        <div class="col-4 offset-4 bg-white pt-4 pb-5 borderform">

            <div class="text-center">
                 Для завершения регистрации проверьте электронную почту и <br />перейдите по ссылке, указанной в письме
            </div>
        </div>
    </div>
</div>