@{
    Layout = "_SignInOutLayout";
}

<div class="container-fluid bg-light signin">
    <div class="row">

        <div class="col-4 offset-4 bg-white pt-4 pb-5 borderform">
            <p>
                Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login">ссылке</a>.
            </p>

        </div>
    </div>
</div>