<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" asp-href-include="lib/bootstrap/dist/css/*.css" />
    <link rel="icon" type="image/x-icon" asp-href-include="favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>   
    <header>
         <nav class="navbar navbar-expand-lg navbar-light m-2 p-2">
             <div class="navbar-collapse justify-content-lg-center collapse show p-2"> 
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-1"></div>

                         <div class="col-1">
                             <a class="navbar-brand pl-2">Xure</a>
                         </div>

                         <div class="col-1">
                             <ul class="navbar-nav">                 
                                  <li class="nav-item dropdown">
                                       <a class="nav-link dropdown-toggle btn text-light btn-danger pb-1" asp-action="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
                                       <div class=dropdown-menu aria-labeledby="navbardropdown">
                                            <a class="dropdown-item" asp-controller="" asp-action="">Товары</a>
                                            <a class="dropdown-item" asp-controller="" asp-action="">Бытовая техника</a>
                                            <a class="dropdown-item" asp-controller="" asp-action="">Спорт</a>
                                       </div>
                                  </li>
                             </ul>
                         </div>

                         <div class="col-6">
                             <form method="get">     
                                  <div class="input-group">
                                       <input class="form-control input" placeholder="Введите товар">                            
                                       <button type="submit" class="btn btn-danger">Найти</button>                            
                                  </div>
                             </form> 
                         </div>

                                 <div class="col-2">  
                                     <ul class="navbar-nav justify-content-center">
                                         <li class="nav-item">
                                              <a asp-action="Login" asp-controller="Account" class="nav-link">Войти</a> 
                                         </li>
                                         <li class="nav-item">
                                              <a asp-action="" asp-controller="" class="nav-link">Заказы</a>                                                                                          
                                         </li>
                                         <li class="nav-item">
                                              <a asp-action="" asp-controller="" class="nav-link">Корзина</a>                              
                                          </li>
                                      </ul>
                                </div>             

                         <div class="col-1"></div>
                     </div>
                 </div>
            </div>
        </nav> 
    </header>
        @RenderBody()    
    <footer>
        <div class="container-fluid fixed-bottom bg-light">
            <div class="row m-2 p-2">

                <div class="col-1">

                </div>

                <div class="col-2 m-1">
                    <h5>Покупателям</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0 text-muted">Профиль</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Мои заказы</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Поиск товаров</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Корзина</a></li>
                    </ul>
                </div>

                <div class="col-2 m-1">
                    <h5>Поставщикам</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Войти</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Зарегистрироваться</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Профиль</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Заполнить каталог</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Просмотреть заказы</a></li>
                        <li class="nav-item mb-2"><a asp-action="" asp-controller="" class="nav-link p-0  text-muted">Оформить доставку</a></li>
                    </ul>
                </div>

                <div class="col-3">                    
                    <form asp-action="">
                        <h5>Подпишитесь на рассылку</h5>
                        <p>Получите выгодные предложения и акции <br /> первыми </p>                        
                        <div class="d-flex w-100">
                            <input class="form-control" placeholder="Укажите email"/>
                            <button type="submit" class="btn border-dark ml-2">Отправить</button>
                        </div>
                    </form>
                </div>

                <div class="col-2">

                </div>

                <div class="col-1">

                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
    </footer>
</body>
</html>
